In [83]:
import pandas as pd
import numpy as np

df_movieItem = pd.read_csv('MovieItem.csv', delimiter=',',index_col=['id'])
df_movieReview = pd.read_csv('MovieReview.csv', delimiter=',',index_col=['id'])
# sort by index id(also known by rating)
df_movieItem = df_movieItem.sort_index(axis=0)
# overview
print(df_movieItem.describe())

                title        directors              writers  \
count             250              250                  250
unique            250              152                  224
top     Hacksaw Ridge  Martin Scorsese  ['Charles Chaplin']
freq                1                7                    5

                                                    stars popularity   rating
count                                                 250        250      250
unique                                                248         46       12
top     ['Mark Hamill', 'Harrison Ford', 'Carrie Fisher']         []  ['8.1']
freq                                                    3         50       68

In [151]:
# stars analysis
star_list = []
for stars in df_movieItem['stars']:
    star_list += [x.lstrip().replace('"','') for x in stars[1:-1].replace('\'','').split(',')]
# reduce duplicate
star_list = list(set(star_list))
# create a dataframe for output
df_star = pd.DataFrame(columns=['stars','avg_rating','num_movie'])
df_star['stars'] = star_list
for index,star in enumerate(df_star['stars']):
    filter = movieItem['stars'].str.contains(star)
    df_star['num_movie'][index] = len(movieItem[filter])
    df_star['avg_rating'][index] = pd.to_numeric(movieItem[filter]['rating'].str[2:-2]).sum(axis=0)/df_star['num_movie'][index]
df_star.sort_values(['num_movie'],ascending=False).head(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: RuntimeWarning: invalid value encountered in long_scalars
  del sys.path[0]

                 stars avg_rating num_movie
530     Robert De Niro      8.375         8
358      Harrison Ford    8.34286         7
423          Tom Hanks    8.38333         6
102  Leonardo DiCaprio        8.3         6
42      Clint Eastwood       8.28         5
264         Aamir Khan        8.2         5
446    Charles Chaplin       8.38         5
35      Christian Bale      8.525         4
33      Jack Nicholson       8.45         4
522         Matt Damon      8.325         4

In [ ]:
# visual stars
import matplotlib.pyplot as plt
plt.hist(df_star['num_movie'],bins=20)
plt.show()